jwcrypto==0.8
cryptography==3.4.7
cffi==1.14.5
pycparser==2.20
azure-mgmt-dns==8.0.0
azure-identity==1.6.0
msrest == 0.6.21
azure-common == 1.1.27
azure-mgmt-core == 1.3.0
msal == 1.14.0
azure-core == 1.18.0
msal-extensions == 0.3.0